:root {
    background-color: hsl(0, 5%, 11%);
    /* background-color: hwb(240 65% 7%); */
    font-family: 'Times New Roman', Times, serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 4rem;
}

.logo {
    width: 300px;
    height: auto;
    padding-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    margin: 0 8rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem;
    width: 38rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(95, 205, 11) 0%, rgb(38, 255, 0) 100%);
    ;
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
    color: rgb(246, 232, 41);
}

.border {
    height: 100px;
    width: auto;
}

/* End Page */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

p {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}

input {
    margin-bottom: 1rem;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: white;
    text-align: center;
}

input::placeholder {
    color: #fff;
}

#saveScoreBtn {
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(202, 113, 12) 0%, rgb(255, 119, 0) 100%);
    ;
    color: #fff;
    font-weight: 300;
}


#btn-play-again {
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(96, 218, 3) 0%, rgb(45, 191, 19) 100%);
    ;
    color: #fff;
    font-weight: 300;
}

#btn-go-home {
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    ;
    color: #fff;
    font-weight: 300;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

/* Leaderboard */
ul {
    font-size: 2.3rem;
}

@media (max-width: 768px) and (max-width: 480px) {
    #play-btn {
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
        width: 28rem;
    }

    #btn-play-again,
    #btn-go-home,
    #saveScoreBtn,
    #highscore-btn,
    #play-btn {
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
        width: 28rem;
    }


    .fa-crown {
        font-size: 2.5rem;
        margin-left: 1rem;
        color: rgb(246, 232, 41);
    }
}